
  .search-form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .search-form input {
    width: 20%;
    border-radius: 4px 0 0 4px;
    border: none;
    outline: none;
    background-color: #d6d2d2;
    padding: 8px 10px;
    font: inherit;

  }
  
  .search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5em;
    border: none;
    background-color: rgb(200, 200, 200);
  
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .search-form button:hover,
  .search-form button:focus {
    background-color: rgb(180, 180, 180);
    transition: all 0.3s;
  }